<ion-list>
  <ion-list-header>INFORMACIÓN</ion-list-header>
  <ion-item lines="none">
    <ion-icon name="mail-outline" slot="start"></ion-icon>
    <ion-label>
      <p>Email</p>
      <h3>{{ email() }}</h3>
    </ion-label>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item button="true" detail="false" (click)="logout.emit()">
    <ion-label color="danger">Cerrar sesión</ion-label>
  </ion-item>
  <ion-item button="true" detail="false" (click)="deleteAccount.emit()">
    <ion-label color="danger">Eliminar cuenta</ion-label>
  </ion-item>
</ion-list>
