<ion-list>
  <ion-list-header>{{ 'PROFILE.INFO_TITLE' | translate }}</ion-list-header>
  <ion-item lines="none">
    <ion-icon name="mail-outline" slot="start"></ion-icon>
    <ion-label>
      <p>Email</p>
      <h3>{{ email() }}</h3>
    </ion-label>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item button="true" detail="false" (click)="logout.emit()">
    <ion-label color="danger">{{ 'PROFILE.LOGOUT' | translate }}</ion-label>
  </ion-item>
  <ion-item button="true" detail="false" (click)="deleteAccount.emit()">
    <ion-label color="danger">{{ 'PROFILE.DELETE_ACCOUNT' | translate }}</ion-label>
  </ion-item>
</ion-list>
