<ion-list>
  <ion-list-header>{{ 'PROFILE.SETTINGS_TITLE' | translate }}</ion-list-header>
  <ion-item button="true" detail="true" (click)="editProfile.emit()">
    <ion-icon name="person-outline" slot="start"></ion-icon>
    <ion-label>{{ 'PROFILE.EDIT_PROFILE' | translate }}</ion-label>
  </ion-item>
  <ion-item button="true" detail="true" (click)="openAccount.emit()">
    <ion-icon name="key-outline" slot="start"></ion-icon>
    <ion-label>{{ 'PROFILE.ACCOUNT' | translate }}</ion-label>
  </ion-item>
</ion-list>

<ion-list>
  <ion-list-header>{{ 'PROFILE.SUPPORT_TITLE' | translate }}</ion-list-header>
  <ion-item button="true" detail="true" (click)="openPrivacy.emit()">
    <ion-icon name="document-text-outline" slot="start"></ion-icon>
    <ion-label>{{ 'PROFILE.PRIVACY' | translate }}</ion-label>
  </ion-item>
  <ion-item button="true" detail="true" (click)="openTerms.emit()">
    <ion-icon name="shield-checkmark-outline" slot="start"></ion-icon>
    <ion-label>{{ 'PROFILE.TERMS' | translate }}</ion-label>
  </ion-item>
</ion-list>

<app-language-selector></app-language-selector>
