<ion-header>
  <ion-toolbar>
    @if (showBackButton()) {
      <ion-buttons slot="start">
        <ion-button (click)="goBack()" (keyup.enter)="goBack()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    } @else {
      <ion-buttons slot="end">
        <ion-button (click)="showSettings.set(true)" (keyup.enter)="showSettings.set(true)">
          <ion-icon name="settings-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    }
    <ion-title>{{ headerTitle() }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (showEdit()) {
    <app-profile-edit (closed)="showEdit.set(false)"></app-profile-edit>
  } @else if (showAccount()) {
    <app-profile-account
      [email]="email()"
      (logout)="logout()"
      (deleteAccount)="deleteAccount()"
    ></app-profile-account>
  } @else if (showSettings()) {
    <app-profile-settings
      (editProfile)="openEditProfile()"
      (openAccount)="openAccount()"
    ></app-profile-settings>
  } @else {
    <app-profile-avatar
      [photoURL]="photoURL()"
      [initials]="initials()"
      [nick]="displayNick()"
      (editClick)="showEdit.set(true)"
    ></app-profile-avatar>
    <app-profile-events [events]="myEvents()"></app-profile-events>
  }
</ion-content>
